doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block content
    script(src='http://code.jquery.com/jquery.js')
    script(src='/javascripts/bootstrap.min.js')