/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.title {
    color: white;
}

.pages {
    margin-top: 50px;
}

.linkdiv {
    overflow: hidden;
}

.linkdate {
    font-size: 0.9em;
}

.container {
    width: 95%;
    margin: 0px 10px;
}

.pagination a {
    color: rgb(228, 77, 38);
}

.active {
    font-size: 1.5em;
}

.poster {
    font-weight:bold;
    color: rgb(228,77,38);
}

.link {
    word-break: break-all;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
    .linkdiv,
    .pages
    {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }

    .linkdiv {
        float: left;
	width: 95%;
	background-color: rgb(255,255,255);
	border: 1px solid rgb(225,225,232);
	border-radius: 4px;
	padding-left: 1em;
	padding-right: 1em;
    }

    .pagediv {
	background-color: rgb(241, 101, 41);
	border: 1px solid rgb(100,100,100);
	border-radius: 4px;
	height: 2em;
	width: 95%;
	padding-right: 1em;
	padding-left: 1em;
        margin-bottom: 1em;
    }

    .pagediv p {
        color: rgb(255,255,255);
    }

    .linkdate {
        white-space: nowrap;
    }

    th {
        font-size: 1.1em;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

/* ============
    WIDE: Main
   ============ */

    .linkdiv {
        float: left;
        width: 90%;
	background-color: rgb(255,255,255);
	border: 1px solid rgb(225,225,232);
	border-radius: 4px;
	padding-left: 2em;
	padding-right: 2em;
    }

    .pagediv {
	background-color: rgb(241, 101, 41);
	border: 1px solid rgb(100,100,100);
	border-radius: 4px;
	width: 90%;
	height: 2em;
	padding-right: 2em;
	padding-left: 2em;
        margin-bottom: 1em;
    }
}

@media only screen and (min-width: 970px) {
    .container {
        width: 940px;
        margin-left: auto;
        margin-right: auto;
    }
}
